/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------- */

$background-color: rgb(247, 247, 247);

html {
  scroll-behavior: smooth;
  font-family: Tahoma, Geneva, sans-serif;
}

.LeftSideNav {
  display: block;
  font-size: medium;
  text-decoration: none;
  background-color: #070063;
  width: 90px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  .img {
    display: block;
    height: 4%;
    width: 60%;
    margin: 20% auto 250%;
  }
  div {
    margin-bottom: 5px;
  }
  img:not(first-child) {
    height: 3%;
    width: 60%;
    margin: 20% 20% 10% 20%;
    cursor: pointer;
  }
  p {
    text-align: center;
    color: white;
    cursor: pointer;
  }
}

@media (max-width: 1100px) {
  .LeftSideNav {
    width: 100%;
    text-align: center;
    height: fit-content;
    .img {
      height: 25px;
      width: 35px;
      margin: 18px 0 0 1.5%;
      padding: 0;
      float: left;
    }
    div {
      height: 20px;
      width: 75px;
      display: inline-block;
      text-align: center;
      margin: 10px 15px 30px 15px;
      // padding: 50px 0;
      img:not(first-child) {
        height: 20px;
        width: 43px;
        padding: 0 0 5px 0;
        margin: 0;
      }
    }
  }
}

.Left {
  margin: 0;
  width: 53%;
  display: inline-block;
  text-align: left;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  div {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 40%;
    p:nth-child(1) {
      font-size: 54px;
      padding-top: 4%;
    }
    p:nth-child(2) {
      font-size: 94px;
      padding-top: 7%;
    }
    p:nth-child(3) {
      font-size: 28px;
      padding-top: 10%;
    }
    p {
      color: white;
      text-shadow: 1px 2px 0px #220038;
    }
    button {
      margin: 5% 0 0 0;
      font-size: 20px;
      background-color: transparent;
      border-radius: 28px;
      border: 2px solid #ffffff;
      cursor: pointer;
      color: #ffffff;
      padding: 1vh 1.6vw;
      text-shadow: 0px 1px 0px #220038;
      outline: none;
    }
    Button:hover {
      background-color: #8e3dc0;
    }
  }
}

@media (max-width: 1480px) {
  .Left {
    div {
      p:nth-child(1) {
        font-size: 54px;
      }
      p:nth-child(2) {
        font-size: 94px;
      }
      p:nth-child(3) {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .Left {
    div {
      p:nth-child(1) {
        font-size: 4.5vw;
      }
      p:nth-child(2) {
        font-size: 7.85vw;
      }
      p:nth-child(3) {
        font-size: 2.3vw;
      }
      button {
        font-size: 1.7vw;
      }
    }
  }
}

@media (max-width: 1100px) {
  .Left {
    div {
      left: 25%;
    }
  }
}

.Right {
  float: right;
  width: 47%;
  height: 100vh;
  background-color: $background-color;
  .Rightdiv {
    position: absolute;
    top: 45%;
    transform: translate(0%, -50%);
    .Rezervuokite {
      padding: 13% 0 5% 0;
      text-align: center;
      font-size: 54px;
    }
    .inputs {
      text-align: center;
      flex-wrap: wrap;
      select:first-child {
        color: #ccc;
      }
      option:first-child {
        color: #ccc;
      }
      div {
        width: 70%;
        margin: 0 auto;
        .VardasPavarde {
          width: 49%;
          box-sizing: border-box;
          margin: 0 1% 5px 0;
          padding: 15px 18px;
          font-size: 16px;
          outline: none;
        }
        .Imone {
          width: 49%;
          box-sizing: border-box;
          margin: 0 0 5px 1%;
          padding: 15px 18px;
          font-size: 16px;
          outline: none;
        }
      }
      .pildymoLaukai {
        width: 70%;
        margin: 5px;
        box-sizing: border-box;
        padding: 15px 18px;
        font-size: 16px;
        outline: none;
      }
      .nuoma {
        width: 70%;
        margin: 5px;
        padding: 15px 18px;
        font-size: 16px;
        outline: none;
      }
    }
    .RezervuotiButton {
      text-align: center;
      font-size: 24px;
      margin: 20px auto 6%;
      padding: 1% 3%;
      display: block;
      outline: none;
      background: linear-gradient(to bottom, #c972ff 5%, #310052 100%);
      background-color: #c972ff;
      border: 2px solid #ffffff;
      cursor: pointer;
      color: #ffffff;
      padding: 12px 31px;
      text-shadow: 0px 1px 0px #220038;
    }
    .RezervuotiButton:hover {
      background: linear-gradient(to bottom, #310052 5%, #c972ff 100%);
    }
    .kontaktai {
      width: 85%;
      height: 80px;
      margin: 0 auto;
      .musuKontaktai {
        font-size: 24px;
        width: 21%;
        float: left;
      }
      div {
        width: 26%;
        float: left;
        div {
          width: 78%;
          padding-left: 2%;
          p:nth-child(1) {
            margin-bottom: 5px;
            float: left;
            padding: 0;
          }
          p:nth-child(2) {
            color: rgba(148, 148, 148, 0.616);
            float: left;
          }
        }
        img:nth-of-type(1) {
          height: 30px;
          width: 32px;
          float: left;
        }
      }
    }
  }
}

@media (max-width: 1557px) {
  .Right {
    .Rightdiv {
      .kontaktai {
        // .musuKontaktai {
        // }
        div {
          div {
            width: 100%;
            padding-left: 0;
            text-align: center;
            p:nth-child(1) {
              float: none;
            }
            p:nth-child(2) {
              float: none;
            }
          }
          img:nth-of-type(1) {
            height: 30px;
            width: 32px;
            float: none;
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 1481px) {
  .Right {
    .Rightdiv {
      .inputs {
        div {
          width: 100%;
          margin: 0 auto;
          .VardasPavarde {
            width: 70%;
            margin: 5px;
          }
          .Imone {
            width: 70%;
            margin: 5px;
          }
        }
      }
    }
  }
}
