/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------- */

$background-color: rgb(247, 247, 247);

.sectionPrice {
  height: 100vh;
  background-color: $background-color;
  .PirmasDiv {
    position: absolute;
    width: 100%;
    top: 210%;
    // left: 20%;
    transform: translate(0%, -50%);
    .kaina {
      padding: 7% 0 3% 0;
      text-align: center;
      font-size: 420%;
      font-weight: bold;
      color: #707070;
    }
    .div {
      position: absolute;
      top: 200%;
      left: 20%;
      transform: translate(0%, -50%);
      border: 2px solid purple;
      width: 60%;
      // margin: 0 auto;
      background-color: white;
      .projektorius {
        p {
          padding: 2% 0;
          text-align: center;
          font-size: 200%;
        }
      }
      .rai {
        width: 85%;
        margin: 0 auto;
        .raiska {
          width: 50%;
          // display: inline-block;
          float: left;
          p {
            line-height: 1.6;
          }
        }
        .img {
          width: 50%;
          display: inline-block;
          text-align: center;
          img {
            width: 50%;
          }
        }
      }
      .tableBot {
        padding: 3% 0 0 0;
        text-align: center;
        .rezervacija {
          text-align: center;
          font-size: 1.5vw;
          margin: 1% auto;
          padding: 1% 3%;
          display: block;
          background: linear-gradient(to bottom, #c972ff 5%, #310052 100%);
          background-color: #c972ff;
          border: 2px solid #ffffff;
          cursor: pointer;
          color: #ffffff;
          padding: 12px 31px;
          text-shadow: 0px 1px 0px #220038;
        }
        .rezervacija:hover {
          background: linear-gradient(to bottom, #310052 5%, #c972ff 100%);
          background-color: #c972ff;
        }
      }
    }
  }
}
